{% extends "base.html" %}
{% block content %}
<h1>Добавить классы</h1>
<form method="post">
    <label class="form-label">Введите номер и букву класса</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="form" placeholder='11 "А"'>
        <button type="submit" class="btn btn-success center-block">Добавить</button>
    </div>
</form>
<div class="card mb-3">
    <div class="card-header">
        <h5 style="float: left;">Список классов</h5>
        <a href="/clear_forms" class="btn btn-outline-danger" style="float: right;">
            Очистить
        </a>
    </div>
    <ul class="list-group list-group-flush">
        {% for i in all_forms %}
        <li class="list-group-item">
            {{ i.form }}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}