{% extends "base.html" %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Школа</th>
        <th scope="col">Статус</th>
        <th scope="col">Подтвердить?</th>
      </tr>
    </thead>
    <tbody>
      {% for t in all_school %}
      <tr>
        <th>{{ t.school }}</th>
        <td>{{ t.status }}</td>
        <td><a href="/sumbit_status/{{ t.school }}" class="btn btn-success">Да</a> <a href="/delete_school/{{ t.school }}" class="btn btn-danger">Нет</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<div class="list-group">
    <a href="/register_school" class="list-group-item list-group-item-action">Зарегистрировать школу</a>
</div>
{% endblock %}