{% extends "base.html" %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Школа</th>
        <th scope="col">Статус</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Подтвердить?</th>
      </tr>
    </thead>
    <tbody>
      {% for t in all_users %}
      <tr>
        <th>{{ t.username }}</th>
        <td>{{ t.status }}</td>
        <td>{{ t.first_name }}</td>
        <td>{{ t.second_name }}</td>
        <td><a href="/sumbit_status/{{ t.username }}" class="btn btn-success">Да</a> <a href="/delete_user/{{ t.id }}" class="btn btn-danger">Нет</a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<div class="list-group">
    <a href="/register/teacher" class="list-group-item list-group-item-action">Зарегистрировать учителя</a>
    <a href="/register/school" class="list-group-item list-group-item-action">Зарегистрировать школу</a>
</div>
{% endblock %}