<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="image/png" sizes="16x16" rel="icon" href="static/img/money.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="static/img/money.png" width="32" alt="">
          Талончики
        </a>
        <a class="navbar-brand" href="https://oauth.vk.com/authorize?client_id=7921944&display=page&redirect_uri=https://for-school-rus.herokuapp.com/see_menu&response_type=code&v=5.92">
          Посмотреть меню
        </a>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <br>
    <br>
    <br style="height: 100px">
    <footer class="footer">
      <ul class="nav fixed-bottom justify-content-center border-top bg-light">
        <li class="nav-item">
            Степан Тищенко, 2021 год
        </li>
    </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>