{% extends "base.html" %}
{% block content %}
    <script>
        function get_value() {
            $.ajax({
                type: "POST",
                url: "/get_len",
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    $('#blabla2').find('option').remove()
                    var json = jQuery.parseJSON(response)
                    $.each(json,function(key, value)
                    {
                        $("#blabla2").append('<option>' + value + '</option>');
                    });
                    console.log(json);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
    <h1>{{ title }}</h1>
<form method="post">
      <div class="mb-3">
          <label class="form-label">Школа</label>
          <select class="form-select" id="blabla" onchange="get_value();" name="school">
            <option selected>Выберите...</option>
            {% for i in schools %}
            <option>{{ i.school }}</option>
            {% endfor %}
          </select>
      </div>
        <div class="mb-3">
          <label class="form-label">Класс</label>
          <select class="form-select" name="form" id="blabla2">
            <option selected>Выберите...</option>
          </select>
        </div>
    <div class="mb-3">
        <label class="form-label">Молочный завтрак</label>
        <input type="number" class="form-control" value="0" name="milk">
    </div>
    <div class="mb-3">
        <label class="form-label">Обед</label>
        <input type="number" class="form-control" value="0" name="dinner">
    </div>
    <div class="mb-3">
        <label class="form-label">Малообеспеченные</label>
        <input type="number" class="form-control" value="0" name="mal_ob">
    </div>
    <div class="mb-3">
        <label class="form-label">Полдник</label>
        <input type="number" class="form-control" value="0" name="af_dinner">
        <small class="text-muted">*если в позиции нет детей, оставить без изменений</small>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <button type="submit" class="btn btn-outline-primary center-block">Отправить</button>
    </div>
</form>
{% endblock %}